body {
    font-family: Arial;
}

a {
    color: steelblue;
}

table {
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    color: gray;
}

div {
    padding-bottom: 5px;
    padding-top: 10px;
}

textarea {
    padding: 50px;
}

.new-comment {
    background-color: rgba(255, 237, 56, 0.54)
}

.bot2 {
    margin:20px auto;
    color: #FFFFFF;
    display: block;
    font:bold 14px arial;
    height: 25px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    background: linear-gradient(to bottom, #209DCA, #0F84AF) repeat scroll 0 0 / 100% 200% rgba(0, 0, 0, 0);
    transition: all 0.5s linear 0s;
    border-bottom: 4px solid #ccc;
}
.bot2:hover,.bot2:focus{
    background-position: 0 -102%;
}

.form-login{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 15px;

}

input{
    padding-top: 5px;
}
